configs/
configs/env/
configs/agent/
configs/experiment/

data/
data/raw/
data/processed/

src/
src/agents/
src/envs/
src/models/
src/utils/
src/data_processing/

train/
online/
hyperparam_search/
experiments/
docs/
